* {
  font-family: "Open Sans";
  font-weight: 100;
}

body {
  width: 100%;
  margin: 0 auto;
}

header {
  /*background-image: url("../images/background-4.jpg");*/
  background: linear-gradient(200deg, #226d99 25%, #55ee77 100%);
  background-size: 150% 150%;
  background-repeat: no-repeat;
  -webkit-animation: gradient-animation 7s linear infinite;
  animation: gradient-animation 7s linear infinite;
  background-size: cover;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 716px) {
  header {
    height: 400px;
  }
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 90% 10%;
  }
  100% {
    background-position: 30% 70%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 90% 10%;
  }
  100% {
    background-position: 30% 70%;
  }
}

header .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  position: relative;
  top: 0px;
  left: 0px;
  will-change: transform;
}

@media screen and (max-width: 716px) {
  header .info {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 716px) {
  header .info .contacts {
    display: none;
  }
}

header .info .contacts .mail a,
header .info .contacts .phone a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  header .info .contacts .mail a,
  header .info .contacts .phone a {
    font-size: 16px;
  }
}

header .info .contacts .mail a:hover,
header .info .contacts .phone a:hover {
  color: black;
  text-shadow: 0 0 1px #262626;
}

header .info .photo {
  text-align: center;
  line-height: 0.5rem;
  margin-top: 2rem;
}

header .info .photo .avatar {
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 auto;
}

header .info .photo .avatar .child {
  background-image: url("/images/dionis-karpov-1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

header .info .photo .avatar .child:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

header .info .photo .github-hide {
  display: none;
  margin: 0 0 1rem 0;
}

header .info .photo .github-hide #GitHub-Hide {
  width: 80px;
  height: 25px;
  margin: 0;
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

header .info .photo .github-hide #GitHub-Hide:hover {
  fill: #6e5494;
}

@media screen and (max-width: 716px) {
  header .info .photo .github-hide {
    display: block;
  }
}

header .info .photo .phone {
  margin: 1.5rem 0 -3rem 0;
}

header .info .photo .mail {
  margin: 1.5rem 0 0 0;
}

header .info .photo .mail,
header .info .photo .phone {
  display: none;
}

header .info .photo .mail a,
header .info .photo .phone a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

@media screen and (max-width: 716px) {
  header .info .photo .mail a,
  header .info .photo .phone a {
    font-size: 16px;
  }
}

header .info .photo .mail a:hover,
header .info .photo .phone a:hover {
  color: black;
  text-shadow: 0 0 1px #262626;
}

@media screen and (max-width: 716px) {
  header .info .photo .mail,
  header .info .photo .phone {
    display: block;
  }
}

header .info .photo img {
  width: 120px;
  border-radius: 120px;
  border: 1px solid #999;
}

header .info .photo h4 {
  font-size: 1rem;
}

header .info .photo ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

header .info .photo ul li {
  list-style-type: none;
  padding: 0.5rem;
}

header .info .photo ul #LinkedIn {
  width: 40px;
  height: 40px;
  -webkit-transition: 0s !important;
  transition: 0s !important;
  opacity: 0.8;
}

header .info .photo ul #LinkedIn:hover {
  fill: #0077B5;
}

@media screen and (max-width: 716px) {
  header .info .photo ul #LinkedIn {
    width: 25px;
  }
}

header .info .photo ul #Facebook {
  width: 40px;
  height: 40px;
  -webkit-transition: 0s !important;
  transition: 0s !important;
  opacity: 0.8;
}

header .info .photo ul #Facebook:hover {
  fill: #4267b2;
}

@media screen and (max-width: 716px) {
  header .info .photo ul #Facebook {
    width: 25px;
  }
}

header .info .photo ul #Instagram {
  width: 40px;
  height: 40px;
  -webkit-transition: 0s !important;
  transition: 0s !important;
  opacity: 0.8;
}

header .info .photo ul #Instagram:hover {
  fill: url(#MyGradient);
}

@media screen and (max-width: 716px) {
  header .info .photo ul #Instagram {
    width: 27px;
  }
}

header .info .photo ul #Youtube {
  width: 45px;
  height: 45px;
  -webkit-transition: 0s !important;
  transition: 0s !important;
  opacity: 0.8;
}

header .info .photo ul #Youtube:hover {
  fill: #ff0000;
}

@media screen and (max-width: 716px) {
  header .info .photo ul #Youtube {
    width: 30px;
  }
}

@media screen and (max-width: 716px) {
  header .info .photo ul {
    margin: -1rem 0 0rem 0;
  }
}

header .social h2 {
  text-align: center;
}

header .portfolio h2, header .portfolio h3 {
  text-align: center;
}

header .portfolio #GitHub {
  width: 200px;
  height: 60px;
  -webkit-transition: 0s !important;
  transition: 0s !important;
  opacity: 0.8;
}

header .portfolio #GitHub:hover {
  fill: #6e5494;
}

@media screen and (max-width: 800px) {
  header .portfolio #GitHub {
    width: 130px;
  }
}

@media screen and (max-width: 716px) {
  header .portfolio h2, header .portfolio h3, header .portfolio #GitHub {
    display: none;
  }
}

main {
  max-width: 90%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 3rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.hello,
.education {
  border: 1px solid #ccc;
  padding: 1rem 2rem;
}

.education #date {
  font-size: 14px;
  margin-top: -1rem;
  color: #999;
}

@media screen and (max-width: 800px) {
  .education h2 {
    text-align: center;
  }
  .education ul {
    padding: 0;
    list-style-type: none;
  }
}

.skills {
  border: 1px solid #ccc;
  padding: 1rem 2rem;
}

.skills ul {
  line-height: 2rem;
  padding: 1rem;
}

.skills .elements {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, 75px);
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills .image {
  margin: 0 0 1rem 0;
  position: relative;
}

.skills .image img {
  height: 40px;
  width: 40px;
}

.skills .git img {
  width: 55px !important;
  padding-top: 1.3rem;
}

.skills .css3 img {
  width: 80px !important;
}

.experience {
  border: 1px solid #ccc;
  padding: 1rem 2rem;
}

.experience .main-ul li a {
  text-decoration: none;
  color: #6e5494;
}

.experience .main-ul h3 a {
  text-decoration: none;
  color: #6e5494;
  font-weight: 400;
}

.experience .main-ul h3 a:hover {
  color: #564273;
  text-shadow: 0 0 2px #bdafd2;
}

.experience .main-ul .dates-work {
  font-size: 14px;
  margin-top: -1rem;
  color: #999;
}

.experience .main-ul .position {
  margin-top: -0.7rem;
}

.experience .main-ul hr {
  display: none;
  color: #ccc;
  height: 1px;
  width: 50%;
  margin: 1rem auto;
  background-color: #ccc;
  border: none;
}

@media screen and (max-width: 800px) {
  .experience .main-ul hr {
    display: block;
  }
}

@media screen and (max-width: 1148px) {
  .experience .main-ul #line-1:before,
  .experience .main-ul #line-2:before,
  .experience .main-ul #line-3:before {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .experience .main-ul #line-1:before,
  .experience .main-ul #line-2:before,
  .experience .main-ul #line-3:before {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .experience h2 {
    text-align: center;
  }
  .experience ul {
    padding: 0;
    list-style-type: none;
  }
}

.full-container {
  margin: 3rem auto;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
}

.full-container .hobbies ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.full-container .hobbies ul li .interes {
  width: 100px;
  height: 100px;
  border: 1px solid #d9b38c;
  border-radius: 100px;
}

.full-container .hobbies ul li .interes img {
  width: 60px;
  height: 60px;
  margin: 1.25rem 0;
}

@media screen and (max-width: 800px) {
  .full-container .hobbies ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .full-container .hobbies ul {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .full-container .hobbies {
    text-align: center;
  }
}

.markups ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  padding: 2rem 0;
  color: #6e5494;
}

@media screen and (max-width: 1100px) {
  .markups ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .markups ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .markups ul {
    grid-template-columns: 1fr;
  }
}

.markups a {
  text-decoration: none;
  color: #6e5494;
}

.markups a img {
  width: 90%;
  margin-bottom: -1rem;
  border: 1px solid #ccc;
}

.markups a:hover {
  color: #564273;
  text-shadow: 0 0 2px #bdafd2;
}

.markups a:hover img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

@media screen and (max-width: 800px) {
  .markups h2 {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
