$white: #fefefe;
$gray: #333;
$light-gray: #666;
$green: #00d820;

* {
	transition: 0.2s;
	font-family: 'Open Sans';
	font-weight: 100;
}

body {
	width: 100%;
	margin: 0 auto;
}

header {
	background-image: url(../images/headre-back.jpg);
	height: 400px;
	background-size: cover;
	margin: 0 auto;
	width: 100%;

		@media screen and (max-width: 800px) {
			height: 290px;
		}

		@media screen and (max-width: 600px) {
			height: 230px;
		}

		h1 {
			display: inline;
			font-size: 60px;
			padding: 0 0 2rem 2rem;
			margin: 1rem 0;
			color: $gray;
			font-family: 'Comfortaa';
			text-transform: uppercase;
			letter-spacing: -3px;
			font-weight: 100;

				&:hover {
					color: $green;
				}

				@media screen and (max-width: 1100px) {
					font-size: 40px;
					padding: 0 0 1rem 1rem;
				}

				@media screen and (max-width: 800px) {
					font-size: 30px;
				}
		}
		.info {
		 display: inline-block;
		 text-align: center;
		 max-width: 30%;
		 padding: 1rem 0 0 0;


			.viber {
				font-weight: 100;
				padding: 0 0 0 2.2rem;
				display: block;
				font-size: 20px;
				margin: 0;

				@media screen and (max-width: 1100px) {
					padding: 0 0 1rem 1rem;
				}

				@media screen and (max-width: 800px) {
					font-size: 16px;
				}

				@media screen and (max-width: 600px) {
					width: 200px;
					text-align: left;
				}
			}
		}

		nav {
			list-style-type: none;
			float: right;

			input[type="checkbox"] {
				display: none;
			}

			label {
				border-bottom: 17px double $gray;
				border-top: 6px solid $gray;
				content: "";
				height: 5px;
				width: 30px;
			}

			label:hover{
				border-bottom: 17px double $green;
				border-top: 6px solid $green;
			}

				li {
					display: inline-block;
					margin: 0rem 2rem;
						a {
							color: $gray;
							text-decoration: none;
							font-size: 20px;
							font-weight: 100;
								&:after {
									display: block;
									content: "";
									height: 1px;
									width: 0%;
									background-color: $green;
									transition: .1s ease-in-out;
								}

								&:hover {
								 color: $green;

								&:after {
									width: 100%;
								}
			}

			@media screen and (max-width: 800px) {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 1100px) {
			margin: 0rem 1rem;
		}

		@media screen and (max-width: 800px) {
			margin: 0rem .5rem;
		}
	}

	@media screen and (max-width: 600px) {
			margin: 1rem 1rem 0rem 0rem;
			display: inline-block;
			width: 140px;
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;
			transition: all .3s ease;

			label {
				display: inline-block;
				transition: all .3s ease;
			}

			ul {
				display: none;
				transition: all .3s ease;
			}

			li {
				padding: 0.5rem 1rem 0.5rem 0;
				text-align: center;
					a {
						color: $white;

							&:hover {
								color: $light-gray;
							}

							&:after {
								display: none;
							}
					}
			}

		input[type="checkbox"]:checked ~ label + ul {
				display: block;
				margin: -5px auto;
				transition: all .3s ease;
				background-color: rgba(50,50,50,0.93);
				color: $white;
				padding: 0;
		}
	}
}

		.slogan {
			text-align: center;

				h2 {
					font-size: 36px;
					line-height: 12rem;

							@media screen and (max-width: 1100px) {
								line-height: 10rem;
								font-size: 30px;
							}

							@media screen and (max-width: 800px) {
								line-height: 5rem;
								font-size: 22px;
							}

							@media screen and (max-width: 600px) {
								font-size: 16px;
								line-height: 2rem;
							}
				}
		}
}

main {
	margin: 2rem auto;
	color: $light-gray;

		.about {
			display: block;
			margin: 2rem auto;
			max-width: 80%;
			height: 750px;

				@media screen and (max-width: 1100px) {
					max-width: 90%;
					height: 850px;
				}

				@media screen and (max-width: 800px) {
					max-width: 90%;
					height: 1400px;
				}

				@media screen and (max-width: 600px) {
					max-width: 90%;
					height: 2650px;
				}

				@media screen and (max-width: 550px) {
					max-width: 90%;
					height: 2600px;
				}

				@media screen and (max-width: 550px) {
					max-width: 90%;
					height: 2570px;
				}

				@media screen and (max-width: 450px) {
					max-width: 90%;
					height: 2470px;
				}

				@media screen and (max-width: 400px) {
					max-width: 90%;
					height: 2400px;
				}

				@media screen and (max-width: 380px) {
					max-width: 90%;
					height: 2500px;
				}

				p {
					font-weight: 200;
				}

				.factory {
					height: 300px;
				}

				.factroy-images {

				}

				.image {
					margin: 2rem 0.3rem;
					max-width: 23%;
					color: #000000;
					text-align: center;
					perspective: 50rem;
					display: inline-block;

						@media screen and (max-width: 800px) {
							max-width: 45%;
						}

						@media screen and (max-width: 600px) {
							max-width: 80%;
							margin: 2rem auto;
							display: block;
						}
				}

	.image img {
		max-width: 100%;
		vertical-align: top;
	}
	.image figcaption {
		top: 50%;
		left: 20px;
		right: 20px;
		position: absolute;
		opacity: 0;
		z-index: 1;

			@media screen and (max-width: 600px) {
				position: static;
				opacity: 1;
				top: 100%;
			}
	}
	.image h2,
	.image h4 {
		margin: 0;
	}
	.image h4 {
		font-weight: 400;
	}
	.image i {
		font-size: 32px;
	}
	.image:after {
		background-color: #ffffff;
		position: absolute;
		content: "";
		display: block;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		transition: all 0.4s ease-in-out;
		transform: rotateX(-90deg);
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		opacity: 0;

			@media screen and (max-width: 600px) {
				transform: none;
				display: none;
			}
	}
	.image a {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
	}

	.image:hover figcaption,
	.image.hover figcaption {
		transform: translateY(-50%);
		opacity: 1;
		transition-delay: 0.2s;

			@media screen and (max-width: 600px) {
				transform: none;
			}
	}

	.image:hover:after,
	.image.hover:after {
		transform: rotateX(0);
		opacity: 0.8;

			@media screen and (max-width: 600px) {
				transform: none;
			}
	}


		}

		.wrapper {
			background-image: url(../images/wrapper-1.jpg);
			background-size: cover;
			height: 300px;
			background-position: center;
			background-attachment: fixed;
			background-repeat: space;
			box-sizing: border-box;
			padding: 1rem;

				@media screen and (max-width: 1000px) {
					background-attachment: inherit;
				}

	.container {
		margin: 2rem auto;
		max-width: 80%;
		background-color: rgba(50, 50, 50, 0.6);
		height: 200px;
		text-align: center;

				@media screen and (max-width: 500px) {
					max-width: 90%;
				}

			h2 {
				color: $white;
				text-align: center;
				padding: 5rem;
				font-size: 36px;

					@media screen and (max-width: 1100px) {
						font-size: 22px;
					}

					@media screen and (max-width: 500px) {
						font-size: 16px;
					}

					@media screen and (max-width: 360px) {
						padding: 4rem;
					}
			}
	}
		}


		.products {
			margin: 0 auto;
			max-width: 80%;

				@media screen and (max-width: 800px) {
					max-width: 90%;
				}

		.block {
			margin: 1rem auto;
		}

		h2 {
			text-align: center;
		}

		h3 {
			margin: 0;
		}

		p {
			margin: 0.5rem;
		}

		.block-1,
		.block-2 {
			display: inline-block;

			@media screen and (max-width: 1000px) {
				display: block;
			}
		}

		.img-1 {
			background-image: url(../images/product.jpg);
			background-size: cover;
			width: 200px;
			height: 200px;
			float: left;

				@media screen and (max-width: 1000px) {
					float: none;
					margin: 0 auto;
				}
		}

		.img-2 {
			background-image: url(../images/product.jpg);
			background-size: cover;
			width: 200px;
			height: 200px;
			float: left;

				@media screen and (max-width: 1000px) {
					float: none;
					margin: 0 auto;
				}
		}

		.img-3 {
			background-image: url(../images/product.jpg);
			background-size: cover;
			width: 200px;
			height: 200px;
			float: left;

				@media screen and (max-width: 1000px) {
					float: none;
					margin: 0 auto;
				}
		}


		.block-2 {
			width: 75%;
			float: right;

			@media screen and (max-width: 1100px) {
				width: 70%;
			}

			@media screen and (max-width: 1000px) {
				float: none;
				text-align: center;
				width: 100%;
			}
		}
		}

.store {
	max-width: 80%;
	margin: 0 auto;
		h2 {
			text-align: center;
		}

		@media screen and (max-width: 800px) {
			max-width: 90%;
		}
}

.contacts {
	max-width: 80%;
	margin: 0 auto;
		h2 {
			text-align: center;
		}

		@media screen and (max-width: 800px) {
			max-width: 90%;
		}
}
}



footer {
	background-color: $gray;
	height: 60px;
	margin: 0 auto;
	width: 100%;

		@media screen and (max-width: 500px) {
			height: 110px;
		}
}

.footer-left,
.footer-right {
	display: inline;
	color: $white;
	font-size: 14px;

		@media screen and (max-width: 500px) {
			display: block;
		}
}

.footer-left {
	float: left;
	padding: 0 0 0 3rem;

		@media screen and (max-width: 800px) {
			padding: .3rem 0 0 1rem;
			font-size: 12px;
		}

		@media screen and (max-width: 500px) {
			float: none;
		}
}

.footer-right {
	float: right;
	padding: 0 3rem 0 0;
		a {
			text-decoration: none;
			color: $white;
				&:hover {
					color: $green;
				}
		}

		@media screen and (max-width: 800px) {
			padding: .3rem 1rem 0 0;
			font-size: 12px;
		}

		@media screen and (max-width: 500px) {
			float: none;
			padding: .1rem 1rem 0 1rem;
		}
}
